h2{
    text-align: center;
}

* {
    margin: 0;
    padding : 0;
}

div#main-content{
    padding-top: 70px;
}

.dropdown-submenu {
    position: relative;
  }
  
  .dropdown-submenu .dropdown-menu {
    top: 0;
    left: 100%;
    margin-top: -1px;
  }

.visible,
.hidden {
  overflow: hidden;
}
.visible {
  visibility: visible;
  opacity: 1;
  transition: opacity 1s linear;
}
.hidden {
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s 1s, opacity 1s linear;
}
.visible > div,
.hidden > div {
  /* Put any padding, border, min-height, etc. here. */
}
.hidden > div {
  margin-top: -10000px;
  transition: margin-top 0s 1s;
}


img {
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 5px;
    width: 150px;
    height: 150px;
  }
  
  img:hover {
    width: 300px;
    height: 300px;
    box-shadow: 0 0 2px 1px rgba(0, 140, 186, 0.5);
  }

  div.scrollmenu {
    background-color: #333;
    overflow: auto;
    white-space: nowrap;
  }
  
  
  
  div.scrollmenu a:hover {
    background-color: #777;
  }