h2 {
    text-align: center;
}

* {
    margin: 0;
    padding: 0;
}

img.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

div#main-content {
    padding-top: 70px;
}

.dropdown-submenu {
    position: relative;
}

@keyframes wobble {
    0% {transform: translateX(0%);}
    15% {transform: translateX(-2%) rotate(-3deg);}
    30% {transform: translateX(2%) rotate(3deg);}
    45% {transform: translateX(-1.5%) rotate(-2deg);}
    60% {transform: translateX(1.5%) rotate(2deg);}
    75% {transform: translateX(0%) rotate(-1deg);}
    100% {transform: translateX(0%);}
  }
  .wobble {
    animation-name: wobble;
    animation-duration: 2.5s;
    animation-fill-mode: both;
    animation-iteration-count: infinite;
    }

.dropdown-submenu .dropdown-menu {
    top: 0;
    left: 100%;
    margin-top: -1px;
}

div.scrollmenu {
    background-color: #333;
    white-space: nowrap;
}

body {
    background-color: rgb(129, 76, 76);
}


div.scrollmenu a:hover {
    background-color: #777;
}

.thumbnail{
    width: 200px;
    height:200px;

}

.thumbnail:hover{
    width: 350px;
    height: 350px;
    position: absolute;
    z-index: 999;
}

div.albumPicDiv{
    width: 200px;
    height: 200px;
}

div#albumContainer {
    display: table;
    width: 75%;
    background-color: lightblue;
    padding: 5px;
    margin: 0 auto;
}

div#main-content {
    width: 100%;
    background-color: rgb(155, 62, 62);
}

.autocomplete {
    position: relative;
    display: inline-block;
}

input {
    border: 1px solid transparent;
    background-color: #c9b1b1;
    padding: 10px;
    font-size: 16px;
}